* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.crud-table {
  width: 100%;
  border-collapse: collapse;
}

.crud-table th {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

.crud-table td {
  border-bottom: 1px solid #666;
  padding: 0.5rem;
}

.crud-table th:last-child {
  text-align: center;
}

.crud-table td:last-child div {
  display: flex;
  gap: .3rem;
  justify-content: end;
}

.crud-table tr:hover {
  background-color: #555;
}