* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crud-table {
  width: 100%;
  border-collapse: collapse;
}

.crud-table th {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

.crud-table td {
  border-bottom: 1px solid #333;
  padding: 0.5rem;
}

.crud-table {
  text-align: left;
}

.crud-table th:last-child {
  text-align: center;
}

.crud-table td:last-child div {
  display: flex;
  gap: .3rem;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #222;
}

.crud-table tr:hover {
  background-color: #555;
}

.form-content {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
}

select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 35px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  width: 100%;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #555;
}

.first-row {
  margin: 2rem 0;
}

.inputs-container {
  display: flex;
  align-items: end;
  gap: 1rem;
}